@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<h1>Water Project</h1>

    @foreach (Project record in Model.Projects)
    {
        <h3>@record.ProjectName</h3>
        <ul>
           <li>Project Type: @record.ProjectType</li>
            <li>Project Impact: @record.ProjectImpact</li>
            <li>Project Installation: @record.ProjectInstallation</li>
            <li>Project Phase: @record.ProjectPhase</li>
        </ul>
    }


<div page-model="@Model.PaginationInfo" page-action="Index"></div>